<div *ngIf="story">
  <td>
    <span class="rankNumber">{{ index + 1 }}.</span>
    <img class="voteArrow" />
    <a href="#" class="title">{{ story?.title }}</a>
    <span class="site">({{ story?.url }})</span>
  </td>
  <td>
    <span class="score"> {{ story?.score }} points by</span>
    <a href="#" class="name"> {{ story?.by }} </a>
    <span class="time">
      <a href="#" class="name">{{ story?.time | date : "shortTime" }}</a>
      |
      <a href="#">hide</a>
      |
      <a href="" class="comments">{{ story?.descendants }} comments</a>
    </span>
  </td>
</div>
